<launch>
	
   <arg name="paused" value="true"/>
   <include file="$(find h4r_rapid_robot_xacros)/launch/spawn.launch" >  
          <arg name="model_file" value="$(find h4r_farmbot_descriptions)/def/farmbot.xacro" />
          <arg name="model_name" value="farmbot_spawner" />
          <arg name="posX" value="0" />
          <arg name="posY" value="0" />
          <arg name="posZ" value="0" />
        
          <arg name="yaw"          value="0" />
          <arg name="model_params" value="" />
	</include> 
	
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
   <arg name="paused" value="$(arg paused)"/>	  
  </include>	
	
  
 	<!-- Load joint controller configurations from YAML file to parameter server
   <rosparam file="$(find h4r_rapid_robot_xacros)/config/gantry.yaml" command="load"/> -->

  <!-- load the controllers 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller joint_rail joint_boom joint_vertical"/>-->

  <!-- convert joint states to TF transforms for rviz, etc
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">

  </node>  -->
 
</launch>