<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro" >
    
    
    <xacro:macro name="fb_utm_magnet" params="name parent magnet_strength:=6 origin_x:=0 origin_y:=0 origin_z:=0  origin_R:=0  origin_P:=0 origin_Y:=0">
       
       <rr_joint_fixed parent="${parent}" 
               child="${name}" 
               origin_x="${origin_x}" 
               origin_y="${origin_y}" 
               origin_z="${origin_z}" 
               origin_P="${origin_P}" 
               origin_R="${origin_R}"
               origin_Y="${origin_Y}"/> 
                                  
           
        <link name="${name}">
            <visual name="visual">
                <geometry>
                    <cylinder radius="0.0075" length="0.005" />
                </geometry>
            </visual>
            <collision name="collision">
                <geometry>
                    <cylinder radius="0.0075" length="0.005" />
                </geometry>
            </collision>
        </link>
        
        <inertial>
            <xacro:rr_inertia_cylinder_solid r="0.0075" h="0.005" mass="0.10" >
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:rr_inertia_cylinder_solid>
        </inertial>
        
    </xacro:macro>
    
    <xacro:macro name="fb_utm_magnet_group" params="name parent origin_x:=0 origin_y:=0 origin_z:=0 origin_R:=0 origin_P:=0 origin_Y:=0" >
        <xacro:fb_utm_magnet name="utm_magnetgroup_${name}_0" parent="${parent}" origin_x="0" origin_y= "0.0125" origin_z="${origin_z}"/>l       
        <xacro:fb_utm_magnet name="utm_magnetgroup_${name}_1" parent="${parent}" origin_x="-0.010825"  origin_y="-0.00625"  origin_z="${origin_z}"/>
        <xacro:fb_utm_magnet name="utm_magnetgroup_${name}_2" parent="${parent}" origin_x= "0.010825"  origin_y="-0.00625"  origin_z="${origin_z}"/>
    </xacro:macro>
    
    <xacro:macro name="fb_sim_magnet" params="name parent origin_x:=0 origin_y:=0 origin_z:=0 origin_R:=0 origin_P:=0 origin_Y:=0 magnet_strength:=3" >
        <rr_joint_fixed parent="${parent}" 
               child="${name}" 
               origin_x="${origin_x}" 
               origin_y="${origin_y}" 
               origin_z="${origin_z}" 
               origin_P="${origin_P}" 
               origin_R="${origin_R}"
               origin_Y="${origin_Y}"/>
        
        
        <link name="${name}">
            
            <visual name="visual">
                <geometry>
                    <cylinder radius="0.03" length="0.005" />
                </geometry>
            </visual>

            <collision name="collision">
                <geometry>
                    <cylinder radius="0.03" length="0.005" />
                </geometry>
            </collision>    
                    
            <xacro:rr_inertia_cylinder_solid r="0.035" h="0.005" mass="0.10" >
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:rr_inertia_cylinder_solid>
        </link>
        
        <gazebo>       
            <plugin name="dipole_magnet" filename="libstorm_gazebo_dipole_magnet.so">
                <bodyName>${name}</bodyName>
                <dipole_moment>0 0 ${magnet_strength}</dipole_moment>
                <shouldPublish>false</shouldPublish>
                <topicNs>magnet_${name}_debug</topicNs>
                <updateRate>100</updateRate>
            </plugin>
        </gazebo>
    </xacro:macro>               
    
</robot>